input.MyButton {
width: 300px;
padding: 20px;

cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #3366cc;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;
-moz-box-shadow:: 6px 6px 5px #999;
-webkit-box-shadow:: 6px 6px 5px #999;
box-shadow:: 6px 6px 5px #999;

}
input.MyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}