<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ADPOINT</display-name>
  <servlet>
    <servlet-name>CustomerSignup</servlet-name>
    <servlet-class>com.adpoint.servlet.CustomerSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSignup</servlet-name>
    <url-pattern>/CustomerSignup</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CustomerSignupFilter</filter-name>
    <filter-class>com.adpoint.filter.CustomerSignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CustomerSignupFilter</filter-name>
    <url-pattern>/CustomerSignup</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ErrorCustomerSignup</servlet-name>
    <servlet-class>com.adpoint.servlet.ErrorCustomerSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorCustomerSignup</servlet-name>
    <url-pattern>/ErrorCustomerSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgencySignup</servlet-name>
    <servlet-class>com.adpoint.servlet.AgencySignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgencySignup</servlet-name>
    <url-pattern>/AgencySignup</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AgencySignupFilter</filter-name>
    <filter-class>com.adpoint.filter.AgencySignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AgencySignupFilter</filter-name>
    <url-pattern>/AgencySignup</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ErrorAgencySignup</servlet-name>
    <servlet-class>com.adpoint.servlet.ErrorAgencySignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorAgencySignup</servlet-name>
    <url-pattern>/ErrorAgencySignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.adpoint.servlet.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CustomerLoginFilter</filter-name>
    <filter-class>com.adpoint.filter.CustomerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CustomerLoginFilter</filter-name>
    <url-pattern>/customerclick.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AgencyLogin</servlet-name>
    <servlet-class>com.adpoint.servlet.AgencyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgencyLogin</servlet-name>
    <url-pattern>/AgencyLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AgencyLoginFilter</filter-name>
    <filter-class>com.adpoint.filter.AgencyLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AgencyLoginFilter</filter-name>
    <url-pattern>/agencyclick.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CustomerSearch</servlet-name>
    <servlet-class>com.adpoint.service.CustomerSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSearch</servlet-name>
    <url-pattern>/CustomerSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgencyPostAd</servlet-name>
    <servlet-class>com.adpoint.servlet.AgencyPostAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgencyPostAd</servlet-name>
    <url-pattern>/AgencyPostAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchDetails</servlet-name>
    <servlet-class>com.adpoint.service.SearchDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDetails</servlet-name>
    <url-pattern>/SearchDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.adpoint.service.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgencyOrders</servlet-name>
    <servlet-class>com.adpoint.service.AgencyOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgencyOrders</servlet-name>
    <url-pattern>/AgencyOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.adpoint.servlet.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
</web-app>